* {
    margin: 0;
    color:white;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: #A3A380;
    padding: 1em;
}

main {
    background-color: #D4CDAB;

    min-width: 90%;
    margin-inline: auto;
    margin-block: 1em;
    border-radius: 2em;
    border: 2px solid #463F3A;
    padding: 1em;
    color: white;
}
li{
    list-style: none;

}
h2{
    color: #413933;
}
a, p, button{
    color: #413933;
}
